In [32]:
#importing the necessary packages
import requests
from bs4 import BeautifulSoup
import pandas as pd
import json

In [33]:
#Data is in the URL specified below
url = 'https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=PerGame&Scope=S&Season=2022-23&SeasonType=Regular%20Season&StatCategory=PTS'

In [34]:
#Getting the data from the URL and converting it into JSON format
page = requests.get(url).json()

In [ ]:
#Displaying the JSON
page

In [35]:
#Saving the JSON file
out_file = open("NBAData.json","w")
json.dump(page, out_file, indent=6)

In [36]:
headers_name = page['resultSet']['headers']

In [37]:
#Getting all the column names
headers_name

['PLAYER_ID',
 'RANK',
 'PLAYER',
 'TEAM_ID',
 'TEAM',
 'GP',
 'MIN',
 'FGM',
 'FGA',
 'FG_PCT',
 'FG3M',
 'FG3A',
 'FG3_PCT',
 'FTM',
 'FTA',
 'FT_PCT',
 'OREB',
 'DREB',
 'REB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PTS',
 'EFF']

In [38]:
#saving the data into a dataframe
final_data = pd.DataFrame(page['resultSet']['rowSet'] ,columns=headers_name)

In [39]:
#Displaying the dataframe
final_data

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PTS,EFF
0,1629029,1,Luka Doncic,1610612742,DAL,53,36.4,11.2,22.2,0.506,...,0.731,0.9,7.9,8.8,8.1,1.5,0.5,3.6,33.2,34.5
1,203954,2,Joel Embiid,1610612755,PHI,48,35.1,10.9,20.6,0.532,...,0.860,1.8,8.6,10.4,4.1,1.1,1.6,3.5,33.0,35.4
2,203081,3,Damian Lillard,1610612757,POR,47,36.3,9.7,20.6,0.472,...,0.919,0.6,3.7,4.3,7.2,0.8,0.3,3.2,32.3,30.1
3,203507,4,Giannis Antetokounmpo,1610612749,MIL,49,32.4,11.2,20.8,0.539,...,0.643,2.3,9.8,12.1,5.3,0.8,0.8,3.9,31.3,32.2
4,1628983,5,Shai Gilgeous-Alexander,1610612760,OKC,54,35.5,10.2,20.2,0.507,...,0.908,0.9,3.9,4.7,5.7,1.6,1.1,2.9,31.0,30.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,1630540,250,Miles McBride,1610612752,NYK,49,12.2,1.1,3.3,0.335,...,0.688,0.2,0.7,0.9,1.1,0.5,0.0,0.4,3.3,3.0
250,1630586,251,Usman Garuba,1610612745,HOU,54,13.5,1.2,2.4,0.523,...,0.528,1.6,2.9,4.5,0.9,0.7,0.5,0.7,3.1,7.6
251,1630194,252,Paul Reed,1610612755,PHI,47,9.5,1.3,2.3,0.573,...,0.750,1.2,1.9,3.1,0.3,0.6,0.6,0.6,3.1,6.0
252,1629680,253,Matisse Thybulle,1610612757,POR,53,13.4,1.2,2.6,0.436,...,0.692,0.4,1.0,1.5,0.6,1.0,0.3,0.2,3.0,4.6
253,1630550,254,JT Thor,1610612766,CHA,50,11.2,0.9,2.5,0.373,...,0.621,0.5,1.2,1.7,0.4,0.3,0.2,0.4,2.6,2.9

In [40]:
#Understanding the data
#describe() method returns the description of the data in the Dataframe
final_data.describe()

,PLAYER_ID,RANK,TEAM_ID,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PTS,EFF
count,2.540000e+02,254.000000,2.540000e+02,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000,...,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000
mean,1.269072e+06,127.480315,1.610613e+09,53.417323,25.657874,4.527953,9.507480,0.482516,1.330709,3.678740,...,0.771047,1.105118,3.563386,4.670472,2.670866,0.768110,0.501181,1.451969,12.442126,14.049213
std,6.219521e+05,73.452343,8.516329e+00,5.613987,7.242616,2.329661,4.870901,0.076717,0.914228,2.393936,...,0.099103,0.817166,1.817688,2.438694,2.042691,0.342692,0.444686,0.824894,6.714246,6.595086
min,2.544000e+03,1.000000,1.610613e+09,42.000000,9.500000,0.900000,2.200000,0.335000,0.000000,0.000000,...,0.314000,0.100000,0.700000,0.900000,0.300000,0.200000,0.000000,0.200000,2.600000,2.900000
25%,5.598782e+05,64.250000,1.610613e+09,49.000000,19.725000,2.825000,5.900000,0.433250,0.700000,2.100000,...,0.722000,0.500000,2.225000,2.900000,1.200000,0.500000,0.200000,0.800000,7.700000,9.100000
50%,1.628978e+06,127.500000,1.610613e+09,53.000000,26.700000,3.900000,8.150000,0.464000,1.300000,3.550000,...,0.780000,0.900000,3.100000,4.100000,2.000000,0.700000,0.400000,1.300000,10.400000,12.550000
75%,1.630169e+06,190.750000,1.610613e+09,58.000000,31.875000,6.000000,12.200000,0.508750,1.900000,5.100000,...,0.842000,1.475000,4.275000,5.800000,3.600000,1.000000,0.600000,1.900000,16.000000,17.900000
max,1.631223e+06,254.000000,1.610613e+09,64.000000,37.500000,11.300000,22.600000,0.769000,4.400000,11.400000,...,0.971000,5.100000,9.800000,12.400000,10.700000,2.000000,3.300000,4.100000,33.200000,38.200000

In [41]:
#Checking if the there are any null values in any of the columns and getting the count
final_data.isnull().sum()

PLAYER_ID    0
RANK         0
PLAYER       0
TEAM_ID      0
TEAM         0
GP           0
MIN          0
FGM          0
FGA          0
FG_PCT       0
FG3M         0
FG3A         0
FG3_PCT      0
FTM          0
FTA          0
FT_PCT       0
OREB         0
DREB         0
REB          0
AST          0
STL          0
BLK          0
TOV          0
PTS          0
EFF          0
dtype: int64

In [42]:
#Getting the data types of each column 
final_data.dtypes

PLAYER_ID      int64
RANK           int64
PLAYER        object
TEAM_ID        int64
TEAM          object
GP             int64
MIN          float64
FGM          float64
FGA          float64
FG_PCT       float64
FG3M         float64
FG3A         float64
FG3_PCT      float64
FTM          float64
FTA          float64
FT_PCT       float64
OREB         float64
DREB         float64
REB          float64
AST          float64
STL          float64
BLK          float64
TOV          float64
PTS          float64
EFF          float64
dtype: object

In [43]:
#coverting the data into a CSV  file 
final_data.to_csv('Final_NBA_Data.csv', index=False)